<form action="" method="post" class="form" novalidate role="form">
    <h2>Edit your profile</h2>
    <div class="form-group row">
        {{ form.hidden_tag() }}
        {{ form.username.label(class_="col-sm-3 col-form-label") }}
        <div class="col-sm-9">
            {% if form.username.errors %}
            {{ form.username (class_="form-control is-invalid") }}            
            {% for error in form.username.errors %}    
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
            {% else %}
            {{ form.username(class_="form-control")}}
            {% endif %}
            <small id="usernameHelp" class="form-text text-muted">Edit your username</small>    
        </div>
    </div>
    <div class="form-group row">
        {{ form.email.label(class_="col-sm-3 col-form-label") }}
        <div class="col-sm-9">
            {% if form.email.errors %}
            {{ form.email (class_="form-control is-invalid") }}            
            {% for error in form.email.errors %}    
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
            {% else %}
            {{ form.email(class_="form-control")}}
            {% endif %}
            <small id="emailHelp" class="form-text text-muted">Edit your email</small>    
        </div>
    </div>
    <div class="form-group row text-center">
        {{ form.initial.label(class_="col-sm-3 col-form-label") }}
        <div class="col-sm-9">
            {% if form.initial.errors %}
            {{ form.initial(class_="form-control is-invalid") }}
            {% for error in form.initial.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {{ form.initial(class_="form-control") }}
            {% endif %}
            <small id="initialHelp" class="form-text text-muted">Initials are shown on the matrix scoreboard</small>
        </div>
    </div>
    <div class="form-group row text-center">
        {{ form.about_me.label(class_="col-sm-3 col-form-label") }}
        <div class="col-sm-9">
            {% if form.about_me.errors %}
            {{ form.about_me(class_="form-control is-invalid") }}
            {% for error in form.about_me.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {{ form.about_me(class_="form-control") }}
            {% endif %}
            <small id="about_meHelp" class="form-text text-muted">Write something about yourself</small>
        </div>
    </div>
    {{ form.submit(class_="btn btn-block btn-outline-success") }}
</form>