{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="col-md-12">
            <h1>Internal server error</h1>
            <p>
                Oops, something went wrong. Let me know what you did!<br>
                <div class="btn-group">
                    <a class="btn btn-success" href="{{ url_for('main.index') }}">Back Home</a>
                    <a class="btn btn-warning" href="{{ url_for('admin.dash') }}">View logs</a>
                </div>
            </p>
        </div>
    </div>    
</div>
{% endblock %}