{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="intro border border-secondary rounded-lg text-center p-1">
                    <img src="{{ user.avatar(240) }}" class="rounded-pill image-fluid align-center" width="50%" alt="Profile picture">
                    <h2 id="usernameHeading"><b>{{ form.username.data }}</b></h2>
                    <h4 id="initialHeading" class="text-secondary">{{ form.initial.data }}</h4>
                    <h4 id="aboutMeHeading" class="text-secondary">{{ form.about_me.data }}</h4>
                    <small>Want to change your profile picture?</small> <a href="https://en.gravatar.com/" class="btn btn-sm btn-outline-primary"><i class="fas fa-external-link-alt"></i> Gravatar</a>
                </div>
            </div>
            <div class="col-md-6 text-center">
                {% include 'main/forms/edit-profile-form.html' %}
            </div>
            <script>
                document.getElementById("username").onkeyup = function() {
                    document.getElementById("usernameHeading").innerText = this.value;
                 }
                 document.getElementById("about_me").onkeyup = function() {
                    document.getElementById("aboutMeHeading").innerText = this.value;
                 }
                 document.getElementById("initial").onkeyup = function() {
                    document.getElementById("initialHeading").innerText = this.value;
                 }
            </script>
        </div>
    </div>
</div>
<div class ="container">
    <div class="row">
        {% for game in reversed(games['games']) %}
            {% include 'main/_game.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}