<button class="btn btn-lg btn-outline-danger align-center" onclick="closeList()">Close</button> <br>
Things that don't work:
<ul>
    <li>None!</li>
</ul>
List of features to implement soon:
<ul>
    <li>Win-Loss and most played against stats etc. on profile</li>
</ul>
<strong>Fixed bugs!</strong>
<ul>
    <li><s>Finding current game session</s></li>
    <li><s>Ending Game in progress</s></li>
    <li><s>Deleting games: Always deletes latest game</s></li>
    <li><s>Player that won was always p1</s></li>
</ul>
<strong>Implemented features</strong>
<ul>
    <li><s>Editing profiles</s></li>
    <li><s>Showing initials on scoreboard</s></li>
    <li><s>Buttons for login/logout/register(Add button to login page for register)</s></li>
    <li><s>Error reporting on forms 95% done</s></li>
    <li><s>Clearer scoreboard view (Who is P1/P2)</s></li>
    <li><s>Click through to profiles</s></li>
    <li><s>Automated testing</s></li>
    <li><s>Go to 'tabletennis.local' instead of IP address</s> Only works occasionally</li>
</ul>