<button class="btn btn-lg btn-outline-danger align-center" onclick="closeList()"><i class="fas fa-eye-slash"></i> Close</button> <br>
Things that don't work:
<ul>
</ul>
List of features to implement soon:
<ul>
    <li>Logging (Just in case...)</li>
    <li>Test routes not just backend</li>
    <li>Admin dashboard for update, restart, logging</li>
</ul>
<strong>Fixed bugs!</strong>
<ul>
    <li>Stats fail to update if no games</li>
    <li>Deleting games doesn't check if game exists</li>
    <li>Most played player counts p2 only...</li>
    <li>Saving game doesn't check if game exists (Error)</li>
    <li>Issue with more than one window open on game, when no game is availible</li>
    <li>Deleting games checks if user allowed</li>
    <li>Finding current game session</li>
    <li>Ending Game in progress</li>
    <li>Deleting games: Always deletes latest game</li>
    <li>Player that won was always p1</li>
</ul>
<strong>Implemented features</strong>
<ul>
    <li>Style stats on user page</li>
    <li>Win-Loss and most played against stats etc. on profile</li>
    <li>Better styling, update images</li>
    <li>Editing profiles</li>
    <li>Showing initials on scoreboard</li>
    <li>Buttons for login/logout/register(Add button to login page for register)</li>
    <li>Error reporting on forms 95% done</li>
    <li>Clearer scoreboard view (Who is P1/P2)</li>
    <li>Click through to profiles</li>
    <li>Automated testing</li>
    <li>Go to 'tabletennis.local' instead of IP address Only works occasionally</li>
</ul>