{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                {% if currentSession %}
                <a href="{{ url_for('control.game', gameid=currentSession) }}" class="btn btn-success btn-lg">Current Game</a>
                {% else %}
                <a href="{{ url_for('control.new_game') }}" class="btn btn-primary btn-lg">New Game</a>
                {% endif %}
            </div>
            <div class="col-md-6" id="feature_list">
                <button type="button" class="btn btn-outline-success btn-lg align-center" onclick="getList()">Show List of bugs/features</button>
            </div>
            <script>
                function getList(btn) {
                    var url;
                    url = "{{ url_for('main.feature_list') }}";
                    getAjax(url, showList);
                }
                
                function showList(xhttp) {
                    document.getElementById('feature_list').innerHTML = xhttp.responseText
                }
                
                function closeList() {
                    document.getElementById('feature_list').innerHTML = '<button type="button" class="btn btn-outline-success btn-lg align-center" onclick="getList()">Show List of bugs/features</button>'
                }
                function getAjax(url, cFunction) {
                    var xhttp;
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status ==200) {
                            cFunction(this);
                        }
                    };
                    xhttp.open("GET", url, true);
                    xhttp.send();
                }
            </script>
        </div>
    </div>
</div>
<div class ="container">
    <div class="row">
        {% for game in reversed(games['games']) %}
            {% include 'main/_game.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}