{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                {% if currentSession %}
                <a href="{{ url_for('control.game', gameid=currentSession) }}" class="btn btn-secondary btn-success">Current Game</a>
                {% else %}
                <a href="{{ url_for('control.new_game') }}" class="btn btn-secondary btn-block">New Game</a>
                {% endif %}
            </div>
            <div class="col-md-6 text-center">
                Hi
            </div>
        </div>
    </div>
</div>
<div class ="container">
    <div class="row">
        {% for game in games['games'] %}
            {% include 'main/_game.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}