{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                {% if currentSession %}
                <a href="{{ url_for('control.game', gameid=currentSession) }}" class="btn btn-secondary btn-success">Current Game</a>
                {% else %}
                <a href="{{ url_for('control.new_game') }}" class="btn btn-secondary btn-block">New Game</a>
                {% endif %}
            </div>
            <div class="col-md-6">
                <p>
                    Things that don't work: <s>fixed</s>
                    <ul>
                        <li><s>Finding current game session</s></li>
                        <li><s>Ending Game in progress</s></li>
                        <li>Editing profiles</li>
                        <li><s>Deleting games is bugged: Always deletes latest game</s></li>
                    </ul>
                    List of features to implement soon <s>Done</s>
                    <ul>
                        <li>Editing profiles</li>
                        <li>Showing initials on scoreboard</li>
                        <li>Error reporting on forms</li>
                        <li>Automated testing</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
<div class ="container">
    <div class="row">
        {% for game in reversed(games['games']) %}
            {% include 'main/_game.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}