{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="intro border border-secondary rounded-lg text-center">
                    <img src="{{ user.avatar(240) }}" class="rounded-pill image-fluid align-center" width="50%" alt="Profile picture">
                    <h2><b>{{ user.username }}</b></h2>
                    {% if user.initial %}
                    <h4 class="text-secondary">{{ user.initial }}</h4>
                    {% endif %}
                    {% if user.about_me %}
                    <h4 class="text-secondary">{{ user.about_me }}</h4>
                    {% endif  %}
                    {% if user == current_user %}
                    <a href="{{ url_for('main.edit_profile') }}" class="btn btn-outline-secondary">Edit</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 text-center">
                {% if user.stats %}
                    {% include 'main/stats-user.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class ="container">
    <div class="row">
        {% for game in reversed(games['games']) %}
            {% include 'main/_game.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}