{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <main role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <button type="button" class="btn btn-sm btn-outline-secondary">Download</button>
        </div>
        <h2>Logs</h2>
        <div class="bg-light border border-dark rounded-lg p-2">
            <pre><code id="output">
                    Loading...
                </code>
            </pre>
        </div>
    </main>
</div>
{% include 'admin/dashboard-script.html' %}
{% endblock %}