{% extends 'base.html' %}

{% block content %}
<div class="row text-center scoreboard" id="scoreboard">
    <!-- REPLACED BY JS on load-->
    <div class="col-md-12 border rounded-lg border-secondary text-center">
            <div class="text-center">
                <div class="spinner-grow text-success" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
    </div>
</div>
{% include 'control/gamescript.html' %}
{% endblock %}