{% extends 'base.html' %}

{% block content %}
<div class="row text-center scoreboard">
    <div class="col-md-12" id="scoreboard">
        <!-- REPLACED BY JS on load-->
        <div class="text-center">
            <div class="spinner-grow text-success" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <a href="{{ url_for('control.discard_game') }}" class="btn btn-block btn-outline-danger" >End Game</a>
    </div>
</div>
{% include 'control/gamescript.html' %}
{% endblock %}