<div class="row">
    <div class="col-md-5 border border-thick rounded-lg {% if data.serving == 1 %} border-warning {% else %} border-secondary {% endif %}">
        <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-center ">
                <div>
                    <i class="text-success far fa-minus-square fa-3x" onclick="ScoreSubtract(1, this)"></i>
                </div>
            </div>
            <div class="col-6">
                <h3>{{ player1_User.username }}</h3>
                <h1 class="display-1">{{ data.player1_score }}</h1>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
                <div>
                    <i class="text-success far fa-plus-square fa-3x" onclick="Score(1, this)"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 my-auto">
        <h1 class="display-2" style="line-height: 0.5;">-</h1>
    </div>
    <div class="col-md-5 border border-thick rounded-lg {% if data.serving == 2 %} border-warning {% else %} border-secondary {% endif %}">
        <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-center">
                <div>
                    <i class="text-success far fa-minus-square fa-3x" onclick="ScoreSubtract(1, this)"></i>
                </div>
            </div>
            <div class="col-6">
                <h3>{{ player2_User.username }}</h3>
                <h1 class="display-1">{{ data.player2_score }}</h1>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center">
                <div>
                    <i class="text-success far fa-plus-square fa-3x" onclick="Score(2, this)"></i>
                </div>
            </div>
        </div>
    </div>
</div>